:root {
  --color-lightblue: #add8e6;
  --color-lightcoral: #f08080;
  --color-aquamarine: #7fffd4;
  --color-darkslategrey: #2f4f4f;
  --color-pink: #e6319a;
  --color-tomato: #ff6347;
  --color-plum: #dda0dd;
  --color-palegreen: #98fb98;
  --color-lemonchiffon: #fffacd;
}
