.circle {
  width: 150px;
  height: 150px;
  justify-content: center;
  border-radius: 100%;
  display: flex;
  position: relative;
}

.color-lightblue {
  background-color: var(--color-lightblue);
}
